
<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->


          
<ul >
  <li class="li" >
    <a class="menu" href="/">Home</span></a>
  </li>
  <li class="li">
    <a class="menu" href="/games">Games</a>
  </li  >
  <li class="li">
    <a class="menu" href="/platforms">Platforms</a>
  </li  >
</ul>

</nav>